@model EuphoriaInn.Domain.Models.IntegrationSettings
<li><hr class="dropdown-divider"></li>
<li>
    <a class="dropdown-item" href="@Model.OmphalosUrl" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-external-link-alt me-2"></i>Open Omphalos
    </a>
</li>
